<div class="header">

</div>
<div class="content">
    <div class="row text-center mt-4">
        <div class="col-12">
            <h2 class="text-bold">Submit Tax Filing</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-stepper [linear]="true" #stepper [labelPosition]="'bottom'">
                <mat-step [stepControl]="formGroup1">
                    <form [formGroup]="formGroup1">
                        <ng-template matStepLabel>Input Detail</ng-template>
                        <app-input-detail [formGroup1]="formGroup1"
                            (onSendTaxData)="taxData = $event;"></app-input-detail>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Review & Confirm</ng-template>
                    <app-review-and-confirm [taxData]="taxData"></app-review-and-confirm>
                </mat-step>
            </mat-stepper>
        </div>
    </div>
</div>